<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgwtsoB1SqrKUlQlHy3HI3gS0apWGj_Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>158465695790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siruplab.onboarding</string>
	<key>PROJECT_ID</key>
	<string>onboarding-89c59</string>
	<key>STORAGE_BUCKET</key>
	<string>onboarding-89c59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158465695790:ios:f379d60cb78f4a8b883fbf</string>
</dict>
</plist>